:root {
	--dark-brown: #361e15;
	--brown: #683b2b;
	--pink: #d49e8d;
	--ded: #;
	--white: #ffffff;
	--off-white: #faf6f2;
	/* 	--mustard:  #a37a14; */
	/* 	--mustard:  #637d21; */
	--mustard: #609830;
	--dark-pink: #a04156;
	/* 	--dark-pink: #c63269; */
	/* 	--dark-pink: #9f2c75; */
	--ded-light: #ded1bd;
	--border: #d1c8c4;
	--border-ing: #361e15;
	--border-button: #361e15;
	--shadow: #d7cfc6;
}

body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: var(--brown);
	overflow: hidden;
	scrollbar-width: none !important;
}

.header {
	background-color: var(--pink);
	background-image: url("../banner.jpeg");
	border-bottom: 2px solid var(--brown);

	align-items: center;
	padding: 1px;
	padding-left: 20px;
}

.header h1 {
	align-self: center;
	width: fit-content;
	padding: 10px;
	background-color: var(--off-white);
	color: var(--dark-brown);
	border-radius: 10px;
}

.page {
	height: calc(100vh - 80px);
	/* margin-top: 80px; */
	overflow: scroll;
	scrollbar-width: none;
	/* Hide default scrollbar in Firefox */
	-ms-overflow-style: none;
	/* Hide default scrollbar in IE and Edge */
}

.page::-webkit-scrollbar {
	width: 0;
	height: 0;
}

.page1 {
	width: 30%;
	float: left;
	background-color: var(--off-white);
}

.page2 {
	width: 70%;
	float: left;
	background-color: var(--off-white);
}

.content {
	padding: 10px;
}

.content h1 {
	margin-top: 0;
}

.categories {
	display: flex;
	flex-direction: column;
	background-color: var(--white);
	border-radius: 15px;
	border: 1px solid var(--border);
	padding: 10px;
	margin-bottom: 10px;
}

.category {
	margin-bottom: 0px;
}

.category-name {
	margin-top: 0;
}

.ingredient {
	display: inline-block;
	padding: 5px 7px;
	/* 	border: 1px solid var(--border-ing); */
	box-shadow: 0 2px 4px var(--shadow);
	background-color: #ededed;
	border-shadow: 1px;
	border-radius: 20px;
	margin-right: 10px;
	margin-bottom: 10px;
	cursor: pointer;
}

.view-more-btn {
	display: inline-block;
	padding: 2px 5px;
	border: none;
	/* border: 1px solid var(--border-button); */
	box-shadow: 0 2px 4px var(--shadow);
	border-radius: 20px;
	margin-right: 10px;
	margin-bottom: 10px;
	cursor: pointer;
	background-color: var(--dark-pink);
	font-family: Tahoma, sans-serif;
	font-size: 12px;
	line-height: 1.5;
	color: var(--white);
}

.clear-all-button {
	display: inline-block;
	padding: 2px 5px;
	/* 	border: 1px solid var(--border-button); */
	border: none;
	box-shadow: 0 2px 4px var(--shadow);
	border-radius: 20px;
	margin-right: 1px;
	margin-bottom: 5px;
	cursor: pointer;

	width: 80px;
	background-color: var(--dark-pink);

	font-family: Tahoma, sans-serif;
	font-size: 12px;
	line-height: 1.5;
	color: var(--white);
}

#pagination-link-prev {
	display: inline-block;

	padding: 4px 5px;
	/* 	border: 1px solid var(--border-button); */
	border: none;
	box-shadow: 0 2px 4px var(--shadow);
	border-radius: 10px;
	margin-right: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	cursor: pointer;

	width: 40px;
	background-color: var(--dark-pink);

	font-family: Tahoma, sans-serif;
	font-size: 12px;
	line-height: 1.5;
	color: var(--white);
}

#pagination-link-next {
	display: inline-block;

	padding: 4px 5px;
	/* 	border: 1px solid var(--border-button); */
	border: none;
	box-shadow: 0 2px 4px var(--shadow);
	border-radius: 10px;
	margin-right: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	cursor: pointer;

	width: 40px;
	background-color: var(--dark-pink);

	font-family: Tahoma, sans-serif;
	font-size: 12px;
	line-height: 1.5;
	color: var(--white);
}

#pagination-link-prev:disabled {
	background-color: var(--ded-light);
	color: var(--white);
	cursor: not-allowed;
}

#pagination-link-next:disabled {
	background-color: var(--ded-light);
	color: var(--white);
	cursor: not-allowed;
}

.selected {
	background-color: var(--mustard);
	color: var(--white);
}

#selected-ingredients {
	display: flex;
	flex-wrap: wrap;
}

.search {
	margin-bottom: 20px;
}

#search-input {
	width: 100%;
	padding: 7px;
	font-size: 16px;
	border: 1px solid var(--border);
	border-radius: 20px;
	box-sizing: border-box;
}

.recipe-card {
	display: flex;
	align-items: center;
	background-color: var(--white);
	border-radius: 10px;
	box-shadow: 0 2px 6px #faf6f2;
	margin: 1% 0% 2% 0%;
	padding: 0px;
	border: 1px solid var(--border);
}

.recipe-image {
	flex: 1;
}

.recipe-image img {
	width: 70%;
	height: auto;
	margin-left: 30px;
}

.recipe-info {
	flex: 2;
	margin-left: 2px;
}

.recipe-name {
	font-size: 24px;
	margin-bottom: 10px;
}

.recipe-time-servings {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.recipe-time-servings p {
	margin-right: 20px;
	font-size: 10px;
}

.recipe-time-servings i {
	margin-right: 5px;
}

.recipe-ingredients {
	margin-bottom: 10px;
}

.ingredient-set1 {
	margin-bottom: 10px;
}

.ingredient-set2 {
	margin-bottom: 10px;
}

.ingredient-bubble {
	display: inline-block;
	padding: 5px 7px;
	border-radius: 20px;
	margin-right: 10px;
	margin-bottom: 10px;
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.green {
	background-color: var(--ded-light);
	color: var(--dark-pink);
}

.red {
	background-color: #e31b23;
	color: #fff;
}

.view-recipe-button {
	display: inline-block;
	padding: 10px 20px;
	background-color: var(--dark-pink);
	color: var(--white);
	border-radius: 20px;
	text-decoration: none;
	font-size: 1px;
	transition: background-color 0.3s ease;
}

.view-recipe-btn:hover {
	background-color: var(--brown);
}

.recipe-details {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.view-recipe-btn {
	background-color: var(--dark-pink);
	color: var(--white);
	box-shadow: 0 4px 4px var(--shadow);
	border: none;
	padding: 5px 7px;
	font-size: 14px;
	border-radius: 4px;
	cursor: pointer;
	margin-left: 10px;
	margin-right: 20px;
}

label {
	font-size: 16px;
	margin-right: 10px;
}

select {
	font-size: 16px;
	padding: 8px;
	border-radius: 4px;
	border: 1px solid var(--border);
	appearance: none;
	-webkit-appearance: none;
	background-color: var(--white);
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path fill="%23ccc" d="M12.6 5.6L8 10.2 3.4 5.6 2 7l6 6 6-6z"/></svg>');
	background-repeat: no-repeat;
	background-position: right center;
	cursor: pointer;
}

select:focus {
	outline: none;
	box-shadow: 0 0 0 2px #361e15;
	border-color: var(--border);
}

.recipe-sort {
	float: right;
	margin-top: 10px;
	width: auto;
}

.recipe-sort label {
	display: inline-block;
	margin-right: 10px;
}

.recipe-sort select {
	padding: 5px;
	border-radius: 3px;
	background-color: var(--white);
	border: 1px solid var(--border);
	font-size: 14px;
	color: var(--brown);
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: auto;
}

.recipe-sort select::-ms-expand {
	display: none;
}

.recipe-sort select:focus {
	outline: none;
	box-shadow: 0 0 5px #683b2b;
}

.content {
	margin: 0% 0% 3% 0%;
}

.recipe-header {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.recipe-header h1 {
	margin-right: 1rem;
}

.recipe-sort label {
	font-weight: bold;
	margin-right: 0.5rem;
}

.recipe-sort select {
	padding: 0.5rem;
	font-size: 1rem;
	border-radius: 5px;
	border: 1px solid var(--border);
	background-color: var(--white);
	color: var(--brown);
}

#sort-by {
	/* width: 150px; */
	padding-right: 15px;
}

#sel {
	display: none;
	/* 	flex-direction: column; */
	background-color: var(--white);
	border-radius: 15px;
	border: 1px solid var(--border);
	padding: 10px;
	margin-bottom: 10px;
}

/* Modal Content/Box */
.modal-content {
	display: inline-block;
	background-color: var(--off-white);
	margin: 8% 8% 8% 8%;
	padding: 10px;
	border: 2px solid var(--brown);
}

.speak-button {
	display: inline-block; 
	margin-left: 20px; 
	margin-bottom: 9px;
	line-height: 20px;
	vertical-align: middle;
	border-radius: 12px;
	background-color: var(--ded-light);
	color: var(--brown);
	border: 1px solid var(--brown);
	font-family: Arial, sans-serif;
}
/* The Close Button */
.close {
	color: var(--dark-brown);
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: var(--dark-brown);
	text-decoration: none;
	cursor: pointer;
}
/* Style the tab */
.tab {
	overflow: hidden;
	background-color: var(--mustard);
}

/* Style the buttons that are used to open the tab content */
.tab button {
	font-size: large;
	font-family: Arial, sans-serif;
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 10px 10px;
	transition: 0.3s;
	color: var(--white);
}

/* Change background color of buttons on hover */
.tab button:hover {
	background-color: var(--mustard);
}

/* Create an active/current tablink class */
.tab button.active {
	background-color: var(--off-white);
	border-top-right-radius: 2px;
	border-top-left-radius: 2px;
	border-top: 4px var(--mustard);
	border-left: 4px var(--mustard);
	border-right: 4px var(--mustard);
	margin-left: 5px;
	color: var(--brown);
}

/* Style the tab content */
.tabcontent {
	display: none;
	padding: 5px 5px;
	border-top: none;
	border: 1px solid var(--off-white);
	animation: fadeEffect 0.5s; /* Fading effect takes 0.5s second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* CSS */
.button-17 {
	align-items: center;
	background-color: var(--dark-pink);
	border-radius: 24px;
	border-style: none;
	box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
		rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
	box-sizing: border-box;
	color: var(--white);
	cursor: pointer;
	display: inline-flex;
	fill: currentcolor;
	font-family: "Google Sans", Roboto, Arial, sans-serif;
	font-size: 14px;
	font-weight: 500;
	height: 48px;
	justify-content: center;
	letter-spacing: 0.25px;
	line-height: normal;
	max-width: 100%;
	overflow: visible;
	padding: 2px 24px;
	margin-left: 40%;
	margin-top: 15px;
	align-self: center;
	position: relative;
	text-align: center;
	text-transform: none;
	transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
		opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	width: auto;
	will-change: transform, opacity;
	z-index: 0;
}

/* .button-17:hover {
  background: var(--ded-light);
  color: var(--brown);
} */

.button-17:active {
	box-shadow: 0 4px 4px var(--shadow);
	outline: none;
}

.loading {
	display: inline-block;
	position: relative;
	width: 100%;
	height: 100%;
	align-items: center;
}

.generated-recipe {
	background-color: #f2f2f2;
	border-radius: 5px;
	padding: 10px;
	margin: 10px;
	border-width: 1px;
}

.display-card-text {
	color: var(--brown);
}
