<!DOCTYPE html>
<html>

    <head>
        <title>Ingredient Selection</title>
        <link rel="stylesheet"
              type="text/css"
              href="{{ url_for('static',filename='styles/style.css') }}">
    </head>

    <body>
        <div class="header">
            <h1>My Recipe App</h1>
        </div>
        <div class="page page1">

            <div class="content">
                <h1>Ingredients</h1>
                <div class="search">
                    <input type="text"
                           id="search-input"
                           placeholder="Search ingredients...">
                </div>
                {% for category in categories %}
                <div class="categories">
                    <div class="category">
                        <h2 class="category-name">{{ category.name }}</h2>
                        <div class="category-ingredients">
                            {% for ingredient in category.ingredients %}
                            <div class="ingredient">{{ ingredient }}</div>
                            {%endfor%}
                        </div>
                    </div>
                </div>
                {%endfor%}
         
            </div>
        </div>
        <div class="page page2">
            <div class="content">
                <div class="recipe-header">
                    <h1>Recipes</h1>
                    <div class="recipe-sort">
                        <label for="sort-by">Sort by:</label>
                        <select id="sort-by">
                            <option value="num-selected-ingredients">Ingredients</option>
                            <option value="servings">Servings</option>
                            <option value="time">Time</option>
                        </select>
                    </div>
                </div>
                
                <div id="selected-ingredients"></div>

                <div id = 'recipes'></div>
               
            </div>
        </div>
        <script src="https://kit.fontawesome.com/12f77b715a.js"
                crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.4.js"></script>
        <script src="./static/script.js"></script>

    </body>

</html>
